<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body background="{{ url_for('static', filename='img/fundo2.png') }}">
    {% block header %}
    <header>
        <div class="c">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">

            <a href="/contato" alt="Contatos" target="_self">Contato</a>
            <a href="/quemsomos" alt="Quem somos" target="_self">Quem somos</a>
            <a href="/" alt="index" target="_self">Home</a>
        </div>
    </header>
    {% endblock header %}
    {% block contents %} 



    {% endblock contents %}
    <div class="footer">
        <h4>Todos os direitos reservados</h4>
    </div>
</body>
</html>