<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Quem Somos </title>
</head>

<body background="{{ url_for('static', filename='img/fundo2.png') }}"></body>
    
        <div class="logo">

            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"> </div>
        
        <nav>
            <ul> 
                <a href="/" target="_self"> HOME </a>
                <a href="/quemsomos"> Quem Somos </a>
                <a href="/contato" target="_self"> Contatos </a>
            </ul>
        </nav>
        <body>
    <div class="texto">
        <h2> Quem Somos </h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. In cum, sapiente quisquam ipsa sit minima officiis
        quia sed assumenda labore tenetur, numquam consectetur nobis magnam placeat quas saepe, laudantium dolorum.</p>

        <h2> 5 motivos para estudar </h2>
        <ol>
            <li> 1. Material sempre atualizado </li>
            <li> 2. Tablets em sala </li>
            <li> 3. Professores renomados </li>
            <li> 4.Universidade bem avaliada </li>
            <li> 5. ótima localização </li>
        </ol>
        <hr>
        <h2> Objetivos </h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ad excepturi recusandae, eius fugiat quasi
        nihil at in dignissimos aut! Saepe corporis veritatis repudiandae vel perferendis odit assumenda similique qui.</p>
    </div>

    <footer> Todos os direitos reservados </footer>

</body>
</html>